body {
    font-family: 'Roboto', sans-serif;
    background: url('background.png') no-repeat center center fixed;
    background-size: cover;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    background-color: #282828;
}

.menu-toggle {
    background-color: #03DAC6; /* Verde neon */
    color: #121212;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 20px;
    background-color: rgba(3, 218, 198, 0.9); /* Verde neon com opacidade */
    width: 150px;
    border-radius: 8px;
    padding: 10px;
    z-index: 1000;
}

.nav-link {
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-link:hover {
    color: #121212;
    background-color: #BB86FC; /* Um efeito em azul para o hover */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(30, 30, 30, 0.85);
    border-radius: 10px;
    color: #e0e0e0;
}

.prompt {
    background-color: #1f1f1f;
    border: 1px solid #BB86FC;
    border-radius: 8px;
    padding: 20px;
    margin: 15px 0;
}

.prompt-title {
    font-weight: bold;
    font-size: 1.2em;
    color: #BB86FC;
}

.prompt-objective {
    margin: 10px 0;
}

.description-box {
    display: flex;
    align-items: center;
    background-color: #282828;
    border-radius: 8px;
    padding: 10px;
}

.prompt-description {
    flex: 1;
    font-style: italic;
}

/* Posição relativa para o botão */
.copy-btn {
    position: relative;
    background-color: #03DAC6;
    color: #121212;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Estilo do balão de feedback */
.feedback {
    display: none;
    position: absolute;
    top: -30px; /* Ajuste a posição vertical conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    background-color: #03DAC6;
    color: #121212;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    white-space: nowrap;
    z-index: 1000;
}

